.col-md-2
.col-md-8
  .page-header
    %h1 Log In
  = form_for @session, class: 'form-horizontal' do |f|
    = render 'shared/form_errors', model: @session

    .form-group
      = f.text_field :username,
        class: 'form-control',
        placeholder: 'username'
    .form-group
      = f.password_field :password,
        class: 'form-control',
        placeholder: 'password'
    .actions
      = f.submit 'Log In', class: 'btn'
.col-md-2
