= form_for @wish_list, class: 'col-md-8' do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :family_id, value: params[:family_id]
  .form-group
    = f.label :title
    = f.text_field :title
  .form-group
    = f.label :family_id
    = f.select :family_id, current_user.families.pluck(:name, :id)
  .form-group
    = f.submit "Save", class: 'btn btn-default'
