.container.col-md-10.col-md-offset-1
  .col-md-12.page-header
    %h1
      = @wish_list.title
      Wish List
    %h4
      of
      = link_to @wish_list.user do
        = @wish_list.user.first_name
        = @wish_list.user.last_name
      - if @wish_list.family
        of the
        = link_to @wish_list.family do
          = @wish_list.family.name
          Family

  .row.col-md-12.form-group
    = link_to @wish_list.family, class: 'btn btn-primary' do
      = fa_icon 'chevron-left'
      Back
    - if @wish_list.user == current_user
      = link_to new_wish_item_path(wish_item: {wish_list_id: @wish_list}), class: 'btn btn-success' do
        = fa_icon 'plus-circle'
        New Wish Item
    - if @wish_list.user == current_user
      = link_to edit_wish_list_path(@wish_list),
        class: 'btn btn-warning' do
        = fa_icon :pencil
        Edit Wish List
    - if @wish_list.user == current_user
      = link_to @wish_list,
        method: :delete,
        confirm: 'Delete this wish list?',
        class: 'btn btn-danger' do
        = fa_icon :times
        Delete Wish List

  .row.col-md-12
    - @wish_list.wish_items.by_name.each do |wish_item|
      .panel.panel-default
        .panel-heading.panel-title
          .container
            = wish_item.name
            - if wish_item.url.present?
              = link_to parse_url(wish_item.url), target: '_blank', class: 'btn btn-primary' do
                = fa_icon :code
                Link
            - if wish_item.user == current_user
              = link_to edit_wish_item_path(wish_item), class: 'btn btn-primary' do
                = fa_icon 'pencil'
                Edit
              = link_to wish_item,
                method: :delete,
                confirm: 'Delete this item?',
                class: 'btn btn-danger' do
                = fa_icon :times
                Delete
            %span.to-show
              = button_tag class: 'btn btn-primary btn-hide' do
                = fa_icon 'eye-slash'
                Hide Status
              - unless wish_item.user == current_user || wish_item.purchased_by_id
                = link_to wish_item_path(wish_item, "wish_item[purchased_by_id]" => current_user.id), method: :patch, class: 'btn btn-primary' do
                  = fa_icon :usd
                  Purchase
              - if current_user == wish_item.purchased_by
                = link_to wish_item_path(wish_item, "wish_item[purchased_by_id]" => ''),
                  confirm: 'Mark this item as un-purchased?',
                  method: :patch, class: 'btn btn-primary' do
                  = fa_icon :usd
                  Un-purchase
              - if wish_item.purchased_by && current_user != wish_item.user
                Purchased by
                = link_to wish_item.purchased_by do
                  = wish_item.purchased_by.first_name
                  = wish_item.purchased_by.last_name
        .panel-body.container
          = wish_item.description
