%h1 New Family
= form_for @family do |f|
  = f.fields_for :family_memberships, @family.family_memberships do |family_membership|
    = family_membership.hidden_field :user_id, value: current_user.id
    = family_membership.hidden_field :family_id, value: @family.id
  = f.hidden_field :owner_id, value: current_user.id
  .form-group
    = f.label :name
    = f.text_field :name
  .form-group
    = f.submit :create, class: 'btn btn-primary'
