= form_for @user, html: { class: 'form-horizontal' } do |f|
  = render 'shared/form_errors', model: @user

  .form-group
    = f.label 'Username'
    .col-md-9
      = f.text_field :username,
        placeholder: 'username'
  .form-group
    = f.label 'Email'
    .col-md-9
      = f.email_field :email,
        placeholder: 'email'
  .form-group
    = f.label 'First Name'
    .col-md-9
      = f.text_field :first_name,
        placeholder: 'first name'
  .form-group
    = f.label 'Last Name'
    .col-md-9
      = f.text_field :last_name,
        placeholder: 'last name'
  .form-group
    = f.label 'Password'
    .col-md-9
      = f.password_field :password,
        placeholder: 'password'
  .form-group
    = f.label 'Password Confirmation'
    .col-md-9
      = f.password_field :password_confirmation,
        placeholder: 'password confirmation'
  .actions
    .col-md-10.col-sm-offset-2
      = link_back
      = f.submit 'Save', class: 'btn btn-primary'
