.panel.panel-default
  .panel-heading
    %h2.panel-title Account
  .list-group
    %li.list-group-item
      %strong
        Username:
      = @user.username
    %li.list-group-item
      %strong
        Email Address:
      = @user.email
    %li.list-group-item
      %strong
        First Name:
      = @user.first_name
    %li.list-group-item
      %strong
        Last Name:
      = @user.last_name
= render 'shared/back'
