%div.col-md-1

%div.jumbotron.col-md-10
  %div.container.text-center
    %div
      %h1 Welcome to akWishlists!
      %p
        the easiest way to share wish lists among family and friends
      %div.col-md-12.container
        %div.col-md-4
          = link_to about_path, role: "button", class: "btn btn-primary btn-lg" do
            = fa_icon 'info-circle'
            Learn more
        %div.col-md-4
          = link_to signup_path, role: "button", class: "btn btn-primary btn-lg" do
            = fa_icon 'user'
            Sign Up
        %div.col-md-4
          = link_to login_path, role: "button", class: "btn btn-primary btn-lg" do
            = fa_icon 'sign-in'
            Log In

%div.col-md-1
