.col-md-9
.col-md-3
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        Account
    %ul.list-group
      %li.list-group-item
        %strong
          = fa_icon 'user'
        = @decorator.user.first_name
        = @decorator.user.last_name.first + '.'
        = link_to @decorator.user do
          = @decorator.user.username
      %li.list-group-item
        %strong
          = fa_icon 'envelope'
        = link_to "mailto:#{@decorator.user.email}" do
          = @decorator.user.email
