!!! 5
%html{lang: "en"}
  %head
    %title Wishlists

    = stylesheet_link_tag    'application',
      media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application',
      'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/favicon'
  %body
    %nav.navbar.navbar-inverse{role: 'naviagation'}
      %div.container
        %div.navbar-header
          = link_to :root, class: 'navbar-brand' do
            akWishlists
            = fa_icon 'gift'
        %div.collapse.navbar-collapse
    %div.container

      = yield
