!!! 5
%html{lang: "en"}
  %head
    %title Wishlists

    = stylesheet_link_tag    'application',
      media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application',
      'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/favicon'
  %body
    = render 'shared/navigation'

    .container
      .col-md-1
      .col-md-10.container
        = render 'shared/flash_messages'
        = yield
      .col-md-1
